@model IEnumerable<Information_System_Of_The_Project_Organization.Models.PactProject>

@{
    ViewData["Title"] = "Pact Project";
}

<h1>Pact Project</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProject)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
