@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("List of Employees", "Index", "Employees")</p>
    <p>@Html.ActionLink("List of Categories", "Index", "Categories")</p>
    <p>@Html.ActionLink("List of EmployeeCategories", "Index", "EmployeeCategories")</p>
    <p>@Html.ActionLink("List of Departments", "Index", "Departments")</p>
    <p>@Html.ActionLink("List of DepartmentsEmployees", "Index", "DepartmentsEmployees")</p>
    <p>@Html.ActionLink("List of DepartmentsLeaders", "Index", "DepartmentsLeaders")</p>
    <p>@Html.ActionLink("List of Equipments", "Index", "Equipments")</p>
    <p>@Html.ActionLink("List of TypeOfWorkForEquipments", "Index", "TypeOfWorkForEquipments")</p>
    <p>@Html.ActionLink("List of EquipmentDepartments", "Index", "EquipmentDepartments")</p>
    <p>@Html.ActionLink("List of Subcontractors", "Index", "Subcontractors")</p>
    <p>@Html.ActionLink("List of TypeOfOrderInSubcontractors", "Index", "TypeOfOrderInSubcontractors")</p>
    <p>@Html.ActionLink("List of OrdersFromSubcontractors", "Index", "OrdersFromSubcontractors")</p>
    <p>@Html.ActionLink("List of Projects", "Index", "Projects")</p>
    <p>@Html.ActionLink("List of ResponsibilityInTheProjects", "Index", "ResponsibilityInTheProjects")</p>
    <p>@Html.ActionLink("List of EquipmentUsedInProjects", "Index", "EquipmentUsedInProjects")</p>
    <p>@Html.ActionLink("List of ProjectEmployees", "Index", "ProjectEmployees")</p>
    <p>@Html.ActionLink("List of Pacts", "Index", "Pacts")</p>
    <p>@Html.ActionLink("List of PactProjects", "Index", "PactProjects")</p>
    <p>@Html.ActionLink("Show Marketing Employees", "GetEmployeeDataByParams", "Employees", new { category = "", department = "" }, null)</p>
</div>
