@{
    ViewData["Title"] = "Tables";
}

<div class="text-center">
    <h1 class="display-4">Tables</h1>
    <p>@Html.ActionLink("Employees", "Index", "Employees")</p>
    <p>@Html.ActionLink("Categories", "Index", "Categories")</p>
    <p>@Html.ActionLink("EmployeeCategories", "Index", "EmployeeCategories")</p>
    <p>@Html.ActionLink("Departments", "Index", "Departments")</p>
    <p>@Html.ActionLink("DepartmentsEmployees", "Index", "DepartmentsEmployees")</p>
    <p>@Html.ActionLink("DepartmentsLeaders", "Index", "DepartmentsLeaders")</p>
    <p>@Html.ActionLink("Equipments", "Index", "Equipments")</p>
    <p>@Html.ActionLink("TypeOfWorkForEquipments", "Index", "TypeOfWorkForEquipments")</p>
    <p>@Html.ActionLink("EquipmentDepartments", "Index", "EquipmentDepartments")</p>
    <p>@Html.ActionLink("Subcontractors", "Index", "Subcontractors")</p>
    <p>@Html.ActionLink("TypeOfOrderInSubcontractors", "Index", "TypeOfOrderInSubcontractors")</p>
    <p>@Html.ActionLink("OrdersFromSubcontractors", "Index", "OrdersFromSubcontractors")</p>
    <p>@Html.ActionLink("Projects", "Index", "Projects")</p>
    <p>@Html.ActionLink("ResponsibilityInTheProjects", "Index", "ResponsibilityInTheProjects")</p>
    <p>@Html.ActionLink("EquipmentUsedInProjects", "Index", "EquipmentUsedInProjects")</p>
    <p>@Html.ActionLink("ProjectEmployees", "Index", "ProjectEmployees")</p>
    <p>@Html.ActionLink("Pacts", "Index", "Pacts")</p>
    <p>@Html.ActionLink("PactProjects", "Index", "PactProjects")</p>
</div>
