@model Information_System_Of_The_Project_Organization.Models.EquipmentDepartment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EquipmentDepartment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepartaments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartaments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DismissalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DismissalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
